body {
  height: auto;
  font-family: "Gruppo";
  font-size: 1.2em;
  background: black;
  color: white;
  margin: 0;
  min-height: 200vh;
}
/* HEADER */

header nav {
  background: black;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: 0.3s;
  height: 130px;
  width: 100%;
}

.logo {
  padding-right: 5%;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0px 15px;
}

.menu a:hover {
  color: #000;
  color: rgba(255, 255, 255, 0.3);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.cover {
  background-image: url("../photos/dos2.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

/* HEADER FIN */

/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 27%;
  min-height: 50vh;
}

.bloc-contact {
  display: flex;
  align-items: center;
  gap: 8em;
  padding-bottom: 2em;
}

.bloc-contact a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid none;
  border-radius: 5px;
  padding: 15px;
}

.bloc-contact a:hover {
  color: #000;
  color: rgba(0, 0, 0, 0);
}

.cover-1 {
  background-image: url("../photos/colonne.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 60vh;
}

.carre-osteo {
  min-height: 80vh;
  border-left: solid;
  border-bottom: solid;
  margin: 5%;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.7);
}

.carre-osteo h2 {
  color: #000000;
  padding: 0.8em;
  margin: 0.4em 0.2em;
}

.carre-osteo p {
  color: #000;
  padding: 0.4em;
  margin: 0.8em;
}

/* INTRO FIN */

/* VOTRE OSTEO */

.carre-mae {
  min-height: 80vh;
  margin: 5%;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.1);
}

.carre-mae h2 {
  padding-bottom: 1em;
}
.carre-mae h3 {
  padding-bottom: 0.3em;
}
.container-mae {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.text-mae-droite p {
  padding: 0.8em;
}

.text-mae-droite li {
  padding: 1em;
}
/* VOTRE OSTEO FIN */

/* TARIFS */

.carre-tarif {
  min-height: 80vh;
  border-right: solid;
  border-bottom: solid;
  margin: 5%;
  padding: 10% 10% 0% 10%;
  background-color: rgba(255, 255, 255, 0.177);
}

.grid-tarif {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 326px;
  gap: 15px;
}
.grid-tarif > div {
  position: relative;
}
.grid-tarif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prix {
  position: absolute;
  top: 0;
  font-size: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: black;
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.prix:hover {
  opacity: 0.7;
  transform: scale(0.8);
}

.prix:hover * {
  transform: scale(1.25);
}

.carre-tarif h2 {
  font-size: 2.5em;
}
.info-tarif p {
  padding: 30px;
}
/* TARIFS FIN*/

/* POUR QUI */
.carre-qui {
  min-height: 80vh;
  border-left: solid;
  border-bottom: solid;
  margin: 5%;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.1);
}

.container-qui {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  text-align: left;
}
.container-qui .qui {
  border: 2px solid rgba(212, 203, 203, 0.317);
  background-color: rgba(255, 255, 255, 0.182);
  padding: 10px;
}

.qui h3 {
  font-size: 1.5em;
  color: black;
}

/* POUR QUI FIN*/

/* CONTACTS */

.carre-contact {
  min-height: 80vh;
  border-left: solid;
  border-bottom: solid;
  margin: 5%;
  padding: 10% 10% 3% 10%;
  background-color: rgba(255, 255, 255, 0.1);
}

.container-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.bloc-contact-2 {
  display: flex;
  align-items: center;
  gap: 8em;
  padding-top: 2em;
}

.bloc-contact-2 a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid none;
  border-radius: 5px;
  padding: 15px;
}

/* CONTACTS FIN*/

/* FOOTER */
iframe {
  display: flex;
  position: relative;
  min-width: 100vw;
  margin: 0%;
}
/* FOOTER FIN */

/* responsive */

/*  À FAIRE */
